<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Video sharing website with links to the software and source code." />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/script/video-js.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/{{css}}" rel="stylesheet">
  </head>
  <body id="body">
    {{#if showCookieBanner}}
    <div id="cookieBanner">We use cookies.  If you don't like cookies (the electronic kind) please don't continue.  If you are happy to continue please <input type="button" id="submitCookieAccept" value="Accept and continue" />. <a href="privacy">More info</a>
    </div>
    {{/if}}  
      {{{body}}}
    <div id="footer">
      <div id="footer1" class="footer">
        © 2015 See The Spark. <a href="https://www.seethespark.com" title="link to See The Spark website"><img src="/img/sts_logo_32x30.png" alt="See The Spark logo" width=32 height=30 id="stsLogo"></a>
      </div>
      <div id="footer2" class="footer">
        <a href="https://github.com/seethespark/i-flicks">
         <i class="fa fa-github fa-2x" title="link to GitHub"></i>
        </a>
      </div>

      <div id="footer3" class="footer">
        <a href="https://twitter.com/i_flicks" class="twitter-follow-button" data-show-count="false">Follow @i_flicks</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      <div id="footer4" class="footer"><a href="/readme" title="More about i-flicks">About</a>&nbsp;{{version}}</div>
    </div>
  <noscript>
    This page needs JavaScript in order to list and display videos.  Please enable JavaScript to use i-flicks.
  </noscript>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{{googleAnalyticsId}}}', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
